<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings>

	<servers>
		<server>
			<id>exchange-server</id>
			<username>alphakoua03</username>
			<password>qWenoYLiFtgG45</password>
		</server>
		<server>
			<id>anypoint-exchange-v2</id>
			<username>${env.PLATFORM_USERNAME}</username>
			<password>${env.PLATFORM_PASSWORD}</password>
		</server>
		<server>
			<id>anypoint-exchange-v3</id>
			<username>alphakoua03</username>
			<password>qWenoYLiFtgG45</password>
		</server>

		<server>
			<id>MuleRepository</id>
			<username>${env.NEXUS_USERNAME}</username>
			<password>${env.NEXUS_PASSWORD}</password>
		</server>
		<server>
			<id>mulesoft-private</id>
			<username>${env.NEXUS_USERNAME}</username>
			<password>${env.NEXUS_PASSWORD}</password>
		</server>
		<server>
			<id>mule-public</id>
			<username>${env.NEXUS_USERNAME}</username>
			<password>${env.NEXUS_PASSWORD}</password>
		</server>
	</servers>

	<pluginGroups>
		<pluginGroup>org.mule.tools</pluginGroup>
	</pluginGroups>

	<profiles>
		<profile>
			<id>mule-extra-repos</id>

			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>

			<repositories>
				<repository>
					<id>mule-public</id>
					<url>https://repository.mulesoft.org/nexus/content/repositories/public</url>
				</repository>
			</repositories>

			<pluginRepositories>
				<pluginRepository>
					<id>mule-public</id>
					<url> https://repository.mulesoft.org/nexus/content/repositories/public </url>
				</pluginRepository>
			</pluginRepositories>
		</profile>

		<profile>
			<id>Mule</id>

			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>

			<repositories>
				<repository>
					<id>mulesoft-private</id>
					<name>MuleSoft Private repository Group</name>
					<url>https://repository.mulesoft.org/nexus/content/repositories/private</url>
				</repository>
				<repository>
					<id>MuleRepository</id>
					<name>MuleRepository</name>
					<url>https://repository.mulesoft.org/nexus-ee/content/repositories/releases-ee/</url>
					<layout>default</layout>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>

				<repository>
					<id>anypoint-exchange-v2</id>
					<name>Corporate Exchange Repository</name>
					<url>https://maven.anypoint.mulesoft.com/api/v2/organizations/66c1049c-ed5c-4f46-9751-33061eb2ce2b/maven</url>
					<layout>default</layout>
				</repository>
				<repository>
					<id>anypoint-exchange-v3</id>
					<name>Corporate Exchange Repository</name>
					<url>https://maven.anypoint.mulesoft.com/api/v3/organizations/66c1049c-ed5c-4f46-9751-33061eb2ce2b/maven</url>
					<layout>default</layout>
				</repository>
				<repository>
					<id>exchange-server</id>
					<name>Corporate Exchange Repository</name>
					<url>https://maven.anypoint.mulesoft.com/api/v2/organizations/66c1049c-ed5c-4f46-9751-33061eb2ce2b/maven</url>
					<layout>default</layout>
				</repository>
			</repositories>

		</profile>
	</profiles>
</settings>
